#home {
  .first {
    height: 100vh;

    .video {
      width: 100%;
      height: 100%;

      video {
        object-fit: cover;
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: 0;
      }
    }
  }

  .second {
    background: image-url('pages/home/cliff.jpg') no-repeat center;
    background-size: cover;
    height: 65vh;
    // box-shadow: inset 3000px 1000px 100px 100px rgba(255, 255, 255, 0.1);
    z-index: 100;
    color: $white;
    border: 10px solid $white;

    .header { font-size: 50px; }

    .copy { font-size: 20px; }
  }

  .studio-pic {
    border: 10px solid $white;
    overflow: hidden;
    padding: 0;

    img { width: 100%; }
  }

  .case-study-badges {
    z-index: 100;

    .case-study-badge {
      padding: 50px 15px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      background-size: cover;
      // filter: grayscale(70%);
      border: 10px solid $white;

      &:hover {
        // filter: grayscale(0%);
      }

      .badge-copy { max-width: 320px; }
    }
  }

  .jeep {
    background: image-url('pages/our_work/jeep_day.jpg') center no-repeat;
    color: $white;
  }

  .biolite {
    background: image-url('pages/our_work/biolite.jpg') center no-repeat;
    color: $white;
  }

  .other-2 {
    background: image-url('pages/home/tunnel.jpg') center no-repeat;
    color: $white;
  }

  .rocket {
    background: image-url('pages/our_work/rocket.jpg') center no-repeat;
    color: $white;
  }
}

.quotes {
  height: 500px;
  z-index: 100;
  border: 10px solid $white;
  background: image-url('pages/home/boat.jpg');

  .slide,
  .text-container,
  .slick-track,
  .slick-list,
  .slick-slide div {
    height: 100%;
  }

  .quote {
    font-weight: bold;
    font-size: 22px;
    padding: 20px;
  }

  .author {
    font-style: italic;
  }

  .text-container {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 200;
  }
}
