* {
  transition: all 1s;
}

.header-section {
  background: gray;
  padding: 32px 0;
}

.video-player {
  background-color: $black;
  max-height: 0;
  overflow: hidden;
  border-radius: 15px;
  border: 10px solid $white;
  transition: all 1s;

  .video-wrapper {
    padding: 20px;
    text-align: center;

    .video {
    width: 80%;
    border-radius: 15px;
    }
  }
}

.posters {
  .videos {
    display: flex;
    flex-wrap: wrap;

    .poster {
      width: 25%;
      border: 2px solid $white;

      &:hover { cursor: pointer; }
    }
  }
}
