#studio {
  .studio-slider {
    height: auto;
    margin: 0px 0 -6px;
  }

  p { font-family: 'Aleo'; }

  .gallary { background: black; }

  .slick-arrow {
    &:before,
    &:after, { color: white; }
  }
}
