.place-holder

#case-studies
  %section.header-section
    .row
      .column
        %h1.header Case Studies
  %section.gallery
    .row.jeep-day.center-text
      .column.case-study-badge.small-12
        .badge-copy
          %h2.header.uppercase 4x4 Day | Jeep
          %h4.header Breaking JEEP owners out of the office one at a time.
          = link_to 'Case Study', '#', class: 'uppercase btn btn-black'
    .row.mike.center-text
      .column.case-study-badge.small-12
        .badge-copy
          %h2.header.uppercase Mike The Barber
          %h4.header A barber on a mission to give the perfect haircut
          = link_to 'Case Study', '#', class: 'uppercase btn btn-black'
    .row.other
      .column.case-study-badge.small-12
        .badge-copy
          %h2.header.uppercase 4x4 Day | Jeep
          %h4.header Breaking JEEP owners out of the office one at a time.
          = link_to 'Case Study', '#', class: 'uppercase btn btn-black'
