#home
  %section.first
    .video
      = video_tag 'reel.mp4', autoplay: true, loop: true, controls: false, muted: true
  %section.second.center-text.relative
    .row.center-ver-hrz
      .column
        %h2.header.uppercase Culture
        %p.copy
          We are a nimble yet powerful team of directors, producers, cinematographers, and designers with the ability to scale to any project, large or small. We all share a common credo; story first. Whether we find those stories, or they find us, we sink our teeth in and bring them to life.
          %br
          %br
          The goal is to engage. The challenge is to exceed expectations.
  .case-study-badges.relative
    .row.expanded
      .column.small-12.large-3.case-study-badge.other
        .badge-copy
          %h2.header.uppercase Placeholder
          %h4.header Placeholder
          = link_to 'Case Study', '#', class: 'uppercase btn btn-black'
      .column.small-12.large-3.case-study-badge.mike
        .badge-copy
          %h2.header.uppercase Mike The Barber
          %h4.header A barber on a mission to give the perfect haircut
          = link_to 'Case Study', case_studies_mike_the_barber_path, class: 'uppercase btn btn-black'
      .column.small-12.large-6.case-study-badge.jeep
        .badge-copy
          %h2.header.uppercase 4x4 Day | Jeep
          %h4.header Breaking JEEP owners out of the office one at a time.
          = link_to 'Case Study', case_studies_4x4_day_path, class: 'uppercase btn btn-black'
  .row.expanded.collapse
    .column
      .quotes.slider.no-margin
        .slide
          .text-container
            %p.copy.quote
              “When you hand good people possibility, they do great things.”
              %br
              %br
              %span.author - Bizz Stone
        .slide
          .text-container
            %p.copy.quote
              “No one ever made a difference by being like everyone else.”
              %br
              %br
              %span.author - P T Barnum
        .slide
          .text-container
            %p.copy.quote
              “Art is not what you see but what you make others see.”
              %br
              %br
              %span.author - Degas
