.row { height: 100%; }

.large-div {
  max-width: 1340px;
  margin: 0 auto;
}

.copy {
  margin: 10px auto;
  max-width: 900px;
  font-family: 'Aleo';
}

.header {
  font-family: 'Aleo';
  font-weight: bold;
}

body { margin: 0; }

ul {
  list-style-type: none;
  padding: 0;
}

//keywords

.uppercase { text-transform: uppercase !important; }

.relative { position: relative !important; }

.center-text { text-align: center !important; }

.padded-section { margin-bottom: 30px !important; }

.no-padding { padding: 0 !important; }

.no-margin { margin: 0 !important; }

.fixed { position: fixed !important; }

.center-ver-hrz {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-ver {
  align-items: center;
  display: flex;
}

.center-hrz {
  justify-content: center;
  display: flex;
}
