%footer.relative
  .row.expanded
    .column.center-text
      %h2.header Contact
      %p.contacts
        72 Auburn Ave.
        %br
        Pontiac, MI 48342
        %br
        = link_to '248.787.0728', 'tel:2487870728'
        %br
        = link_to 'howdy@tibbsinc.com', 'mailto:howdy@tibbsinc.com', target: '_blank'
      = link_to 'https://www.instagram.com/tibbs_inc/', target: '_blank' do
        %i.fa.fa-instagram
      = link_to 'https://www.facebook.com/tibbsincorporated', target: '_blank' do
        %i.fa.fa-facebook-square
