%footer.relative
  .row.expanded
    .column
      %h2.header Contact
      %p.contacts
        72 Auburn Ave.
        %br
        Pontiac, MI 48342
        %br
        248.787.0728
        %br
        howdy@tibbsinc.com
      = link_to '#' do
        %i.fa.fa-instagram
